    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>

    <script type="text/javascript">
    
    var comments = {}
    $(document).ready(function(){
        
        var posted_re = new RegExp("this_is_a_comment", "g")
        
        function bind_submit(form, nxt) {
        
            var post_data = {}
            $("input[type=submit]", form).bind("mousedown", function() {
                post_data = {}
                post_data[this.name] = this.value
            })
            
            form.bind("submit", function() {
            
                var data_dict = $(":input", form).serializeArray()
                $.each(data_dict, function() {
                    post_data[this.name] = this.value
                })
                
                post_data['is_ajax'] = 1
                            
                $.post(form.attr("action"), post_data, function(data, textStatus){
                                    
                    if (posted_re.test(data)) {
                        nxt.replaceWith(data)
                        bind_replies()
                    }
                    else {
                        nxt.empty()
                        nxt.append(data)
                        nxt.slideDown("slow")
                        
                        var new_form = $("form", nxt)
                        bind_submit(new_form, nxt)
                    }
                }, "html")
                
                return false
            })
        }
        
        function bind_replies() {
                
            $('.comment_reply, .comment_new').each(function() {
            
                var reply_link = $(this)    
                var parent = reply_link.parent('p')
                
                parent.after('<div class="comment_form_wrapper"></div>')
                
                $(this).bind("click", function(e) {
                
                    $('.comment_form_wrapper').slideUp("slow")
                    
                    $.get(reply_link.attr('href') + '?is_ajax=1', function(data, textStatus){
                        var nxt = parent.next('.comment_form_wrapper')
                        nxt.empty()
                        nxt.append(data)
                        nxt.slideDown("slow")
                        
                        var form = $("form", nxt)
                        bind_submit(form, nxt)
                        
                    }, "html")
                    
                    return false
                })
            })
        }
        
        bind_replies() // intercept links
        
    })
    </script>
    
    <style type="text/css">
        .comment_reply { text-decoration: underline; cursor: hand; }
        .comment { margin-left: 0.5em; padding-left: 0.5em; border-left: solid 4px #dddddd; }
    </style>
    