    {% load markup %}
    {% load i18n %}
    {% load mptt_tags %}
    {% load mptt_comments_tags %}
    {% load comparison %}

    <div class="comment comment_level_{{ comment.level }}
            {% if_greater comment.level collapse_levels_above %} comment_collapsed{% endif_greater %}
            " id="comment_{{ comment.pk }}">
    <!-- this_is_a_comment -->
        
    <a class="comment_expand" href="{% url comment-detail comment.pk %}">{{ comment.title }}</a>
    
    <div class="comment_content {% if_less comment.level collapse_levels_below %} comment_collapsed_below{% endif_less %}">
        
    <h3>{% trans "Commented by" %} {{ comment.name }} -
        {{ comment.submit_date|date:"l" }} {% trans "on" %}
        {{ comment.submit_date|date:"j F" }} {% trans "at" %} {{ comment.submit_date|date:"H:i" }}</h3>
        
    {{ comment.comment|markdown }}
    
    <p>
        {% if comment|children_count %}{% ifequal comment.level cutoff_level %}
            <a class="comment_replies" href="{% url comments-subtree comment.pk %}">
        {% endifequal %}{% endif %}
            {{ comment|children_count }} {% trans "replies" %}
        {% if comment|children_count %}{% ifequal comment.level cutoff_level %}
            </a>
        {% endifequal %}{% endif %}            
            | 
        <a class="comment_reply" href="{% url comment-reply comment.pk %}">
            {% trans "Reply to this comment" %}
        </a>
    </p>
    
    </div>
   
    
    </div>